# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace
DerivedData/
build/
.build/

# CocoaPods
Podfile
Podfile.lock
Pods/

.yarn/*
# Yarn Berry (PnP mode)
.pnp.cjs
.pnp.loader.mjs
.pnp.json

# VSCode
.vscode/*


notifee/packages/react-native/src/version.ts
node_modules
